div {
  background-color: #c7c7c7;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  padding: 50px;
  margin: 0;
}

#container {
  background-color: #521751;
}

#container p {
  color: white;
}

#one {
  background-color: #943092;
}

#two {
  background-color: #c95bc7;
  position: relative;
  /* position element is used to make changes to the positioning. */
  top: 20px;
  /* position: static; */
  /* When we set the position value to static, then nothing happens to the position
  even if we try to moderate the positions through top/bottom elements. */
}

#three {
  background-color: #dd61db;
}
